 .logo{
     height:120px;
     margin:0px;
     padding: 0px;
     width: 200px;
 }
 .login-btn{
     background:#FF6E40;
     border-radius: 7px; 
     color: #fff;
     width: 70px;
     text-align: center;
 }
 div{
    font-family: 'Poppins', sans-serif;
 }
 .header-name{
     margin-top: 10px;
     font-weight: 700;
 }